@charset "UTF-8";
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin_1-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'leckerlioneregular';
    src: url('../fonts/leckerlione-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/leckerlione-regular_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pacificoregular';
    src: url('../fonts/pacifico-webfont.woff2') format('woff2'),
         url('../fonts/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "foodsitefonticon";
  src:url("../fonts/foodsitefonticon.eot");
  src:url("../fonts/foodsitefonticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/foodsitefonticon.woff") format("woff"),
    url("../fonts/foodsitefonticon.ttf") format("truetype"),
    url("../fonts/foodsitefonticon.svg#foodsitefonticon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "foodsitefonticon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "foodsitefonticon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\66";
}
.icon-twitter:before {
  content: "\74";
}
.icon-google-plus:before {
  content: "\67";
}
.icon-linkedin:before {
  content: "\6c";
}
.icon-right-open-big:before {
  content: "\61";
}
.icon-left-open-big:before {
  content: "\62";
}
.icon-arrow-right:before {
  content: "\63";
}
.icon-arrow-left:before {
  content: "\64";
}
.icon-smartphone-call:before {
  content: "\68";
}
