html, body {
	height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
a {
	text-decoration: none !important;
	outline: 0 none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
input,textarea{
    background: #fff;
    border: 1px solid #e1e0e0;
   	color: #000;
    font-family: 'robotoregular';
	font-size: 1.125em;
    height: 52px;
    line-height: 52px;
    padding: 0 15px;
    position: relative;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */
	width:100%;
	margin:0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
}
textarea{
	height: 169px;
	resize: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: normal;
	padding-top: 15px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #bcbbbb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #bcbbbb;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #bcbbbb;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #bcbbbb;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #bcbbbb;
}
.noPadding{
	padding: 0 !important;
}
.field{
	position: relative;
}
/*------------- Home Style ---------------*/
body {
	font-size:16px;
	font-family: 'robotoregular';
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	color: #000;
	position: relative;
}
header{
	width: 100%;
	background: #1b2128;
	z-index: 5;
	padding: 15px 0px 10px 40px;
}
header.sticky{
	padding: 23px 10px 10px 20px;
}
header .container-fluid{
	max-width: 1366px;
	margin: 0 auto;
}
header .contactBox{
	float: left;
	width: 25%;
	position:relative;
}
header .contactBox .icon{
	float: left;
	font-size: 2.9em;
	color: #898b8d;
	line-height: 0;
	position: absolute;
	top: 15%;
}
header .contactBox .info{
	float: left;
	margin-left: 48px;
}
header .contactBox .info span{
	display: block;
	color: #fff;
	letter-spacing: 1.8px;
	font-family: 'robotomedium';
	line-height: normal;
}
header .contactBox .info small{
	display: block;
	color: #898b8d;
	letter-spacing: 1.8px;
	font-size: 0.875em;
	font-style: italic;
	margin: 6px 0 0 0;
}
header .navbar{
	float: left;
	width: 100%;
	text-align: center;
}
header .navbar .navbar-header{
	float: none;
}
header .navbar .navbar-header .navbar-brand img {
	display: inline-block;
}
.main-menu-more{
	display: none;
}
header .logo{
	float: left;
}
header .logo img{
	display: inline-block;
}
header .navbar .navbar-nav{
	display: block;
	float: none;
	margin-top: -75px;
}
.navbar-nav > li {
	float: none;
	display: inline-block;
}
.navbar-nav > li.loginLink {
	display: none;
}
.navbar-nav > li > a{
	padding: 22px 15px;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'robotolight';
	font-size: 0.875em;
	letter-spacing: 2px;
}
.navbar-nav > li > a.btn{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #20b4c0;
	padding: 10px 15px;
	margin: 10px 0 0 0;
}
.navbar-nav > li > a.btn:hover,.navbar-nav > li > a.btn:focus{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #20b4c0;
}
header .loginOption{
	float: right !important;
	padding-right: 56px;
	width: 25%;
}
header .loginOption a{
	color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    /* border-bottom: 1px solid #f7d705; */
    padding-bottom: 5px;
    float: right;
    background: #ffa811;
    padding: 10px 22px;
    font-weight: 600;
    border-radius: 52px;
}
header .curveLine,footer .curveLineBottom{
	position: relative;
	height: 10px;
}
header .curveLine .line,footer .curveLineBottom .line{
    background-image: linear-gradient(rgba(27,33,40,1), rgba(27,33,40,1)), linear-gradient(-45deg, transparent 75%, rgba(27,33,40,1) 75%), linear-gradient(45deg, transparent 75%, rgba(27,33,40,1) 75%);
}
header .curveLine .line,footer .curveLineBottom .line{
    width: 100vw;
    height: 10px;
    position: absolute !important;
    left: 0;
    border: solid transparent;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
    border-width: 10px 0;
    background-color: #121618;
    background-color: hsla(0, 0%, 0%, 0);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
    background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
    z-index: 100;
}
header .curveLine .line {
    top: 20px;
    left: -20px;
}
.sticky {
  	position: fixed;
  	top: 0;
	left: 0;
	width: 100%;
	z-index: 8;
	-pie-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.sticky .contactBox {
  	display: none;
}
.sticky .navbar {
    float: left;
	width: 88%;
    text-align: left;
}
.sticky .navbar .navbar-header {
    float: left;
}
.sticky .navbar .navbar-nav {
    display: inherit;
    margin-top: 3px;
	text-align: center;
}
.sticky .loginOption {
    float: right;
    padding-right: 20px;
    width: auto;
}
.sticky .navbar-nav > li > a {
    padding:6px 15px !important;
}
header.sticky .loginOption{
    margin-top: -50px;
}
header.sticky #navbarCollapse {
    width: 102%;
}
header.sticky .navbar .navbar-header .navbar-brand img{
	height: 40px;
    margin-top: 3px;
}
header.sticky .curveLine{
	height: 0;
}
header.sticky .curveLine .line{
    top: 9px;
}
/******SLIDER STYLESHEET******/

.bannerSection .carousel,
.item,
.active {
    height: 100%;
}
.bannerSection .carousel{
    padding-top: 0;
}
.bannerSection .carousel .carousel-control.left,
.bannerSection .carousel .carousel-control.right {
    z-index: 0;
	height: 0;
	top: 300px;
}
.bannerSection .carousel .carousel-control.left{
    left: 50px;
}
.bannerSection .carousel .carousel-control.right{
    right: 50px;
}
.bannerSection .carousel .carousel-control .icon {
    position: absolute;
	top: 50%;
}
.bannerSection .carousel .carousel-control .icon span {
    font-size: 2.6em;
	line-height: 0;
}
.bannerSection .carousel .carousel-control .icon-prev::before {
    content: "\62";
}
.carousel-control .icon-next::before {
    content: "\61";
}
.bannerSection .carousel-inner {
    height: 560px;
}
.bannerSection .carousel-indicators {
   	bottom: 40px;
	z-index: 1;
}
.bannerSection .carousel-indicators li {
   	width: 16px;
	height: 16px;
	border: none;
	border: 2px solid #fff;
	margin-right: 8px;
}
.bannerSection .carousel-indicators .active {
   	background: #fff;
	width: 18px;
  	height: 18px;
	border: none;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.homeAboutSection{
	background: url("../images/aboutBg.png");
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 60px 0 100px 0;
}
span.smallHeading{
	font-family: 'pacificoregular';
	text-align: center;
	font-size: 2em;
	color: #1b2128;
	display: block;
}
h2.largeHeading{
	font-family: 'leckerlioneregular';
	text-align: center;
	font-size: 4em;
	color: #d96300;
}
.homeAboutSection .content{
	padding: 40px 50px;
}
.homeAboutSection .content p{
	font-size: 0.875em;
	color: #272727;
	line-height: 26px;
	font-family: 'robotolight';
	text-align: justify;
	padding: 0 25px;
}
.testiSection{
	background: url("../images/testiBg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0 40px 0;
	position: relative;
}
.testiSection .mask{
	position: absolute;
	background:rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 1;
	left: 0;
}
.testiSection span.smallHeading{
	color: #efef93;
	z-index: 2;
	position: relative;
}
.testiSection h2.largeHeading{
	color: #fff;
	z-index: 2;
	position: relative;
}
.testiSection .testiBlock{
	z-index: 2;
	position: relative;
}
.testiSection .testiBlock .navigation{
	padding:0 40px 0;
	z-index: 2;
	position: relative;
	width:50%;
	margin: 0 auto;
	text-align: center;
}
.testiSection .testiBlock .navigation .icon{
	font-size: 1.5em;
	color: #fff;
	display: inline-block;
	line-height: 0;
}
.testiSection .testiBlock .navigation .icon-arrow-left{
	margin-right: 40px;
}
.testiSection .testiBlock .testi{
	padding:30px 0 0px;
	z-index: 2;
	position: relative;
}
.testiSection .testiBlock .testi p{
	color: #fff;
	font-size: 1.125em;
	text-align: center;
	font-style: italic;
	font-family: 'robotolight';
	padding: 0 40px;
	width: 50%;
	margin: 0 auto;
	letter-spacing: 1.6px;
}
.testiSection .testiBlock .testi span{
	color: #f8b908;
	font-size: 1.125em;
	text-align: center;
	font-family: 'robotoBold';
	padding: 30px 40px 0;
	width: 100%;
	display: block;
	letter-spacing: 1.6px;
}
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    position: relative;
}
.homeGallerySection{
	padding: 40px 0;
}
.homeGallerySection .galleryListBlock{
	padding: 50px 60px 0;
}
.homeGallerySection .galleryListBlock .bar{
	margin-bottom: 40px;
}
.homeGallerySection .galleryListBlock .box{
	padding: 0 20px;
}
.homeGallerySection .galleryListBlock .box .imgBox{
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 11px 16px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 11px 16px 12px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 11px 16px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 11px 16px 12px rgba(0, 0, 0, 0.2);
	border: 2px dashed #1b2128;
}
footer{
	background: #1b2128;
	text-align: center;
}
footer .curveLineBottom .line{
	transform: rotate(180deg);
	top: -20px;
}
footer .bottomLogo{
	padding: 40px 0 20px;
}
footer .bar{
	padding: 0px 0 20px;
}
footer .bar span{
	display: block;
	font-size: 1.2em;
	color: #e5a00e;
	font-family: 'leckerlioneregular';
}
footer .bar em{
	display: block;
	font-size: 1.063em;
	color: #fafbfc;
	letter-spacing: 1.3px;
	font-family: 'robotolight';
	font-style: normal;
	margin-top: 10px;
}
footer .bar a{
	color: #fff;
	font-size: 1.125em;
	margin: 20px 20px 0 0;
	display: inline-block;
}
footer .copyrightBlock{
	padding: 15px 40px;
	background: #181e24;
	color: #efef93;
	font-family: 'leckerlioneregular';
	font-size: 1em;
}
footer .copyrightBlock small{
	float: left;
}
footer .copyrightBlock a{
	float: right;
	color: #efef93;
}
.mapAddress{
	background: #1b2128;
    padding: 35px 0;
}
.googleMap{
	
}
.googleMap > div{
	box-shadow: 0 0 31px 6px #161a20;
    display: block;
}
.contentUsAddress{
	background: #191c20;
    color: #fff;
    padding:16% 12% 22% 12%;
    margin: 11% 0 0 0;
	box-shadow: 0 0 31px 6px #161a20;
}
.contentUsAddress h3{
	font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 15px 0;
	font-family: 'robotomedium';
}
.contentUsAddress p a{
	color:#e7e7e7;
}
.contentUsAddress p{
	font-size:16px;
	font-family: 'robotolight';
	color: #e7e7e7;
    margin: 0 0 15px 0;
}
.contentUsAddress p a{
	color: #e7e7e7;	
}
.addressSocial{
    float: left;
    margin: 20px 0 0 0;	
}
.addressSocial a{
	background: url(../images/contactUsSocial1.png) no-repeat;
    width: 41px;
    height: 42px;
    display: inline-block;
    margin: 0 14px 0 0;
    float: left;
}
.addressSocial a.fb{
    background-position: 0 0;	
}
.addressSocial a.tw{
`	background-position: -59px 0;	
}
.addressSocial a.lin{
	background-position: -119px 0;
}
.addressSocial a.gp{
	background-position: -180px 0;
}
.contactUSformBlock{
	
}
.contactUSformBlock .inputs{
	position: relative;
    margin: 0 0 25px 0;	
}
.contactUSformBlock .inputs br{
   display:none;
}
.contactUSformBlock .inputs input{
    border-radius: 5px;	
}
.contactUSformBlock .inputs input[type='submit']{
	background: #ffa811;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    max-width: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    box-shadow: 2px 13px 41px #c4c4c4;
	outline:none;
}
.contactUSformBlock .inputs span{
	
}
.contactUSformBlock .inputs .wpcf7-not-valid-tip{
	font-size:12px;
}

.aboutUsPage .aboutSubTitle,.titleDefault {
    font-size: 30px;
    font-family: 'robotomedium';
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000;
}
.titleDefaultP{
	font-family: 'robotoregular';
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 35px 0;
    color: #242424;
    padding: 0 25px;
    line-height: normal;
	letter-spacing: 1px;
}
.contactUSformBlock .inputs label{
	position: absolute;
    top: 13px;
    z-index: 9;
    color: #9a9a9a;
    font-size: 16px;
    font-family: 'robotoregular';
    font-weight: 300;
    left: 13px;
	display:none;
}
.contactUSformBlock .inputs.focus label{
	top: 0px;
    font-size: 14px;
	display:block;
}
.contactUSformBlock{
	margin: 50px 0 0 0;
}
.thanksYouPage{
	margin: 50px 0;
}
.thanksYouPage *{
	text-align:center;
}
.thanksYouPage .lead{
	text-align:center;
}
.thanksYouPage .display-3{
	font-size: 40px;
}
.thanksYouPage a,
.thanksYouPage a:hover{
	font-size: 14px;
	color:#fff;
}


@media only screen and (max-width: 1024px) {
header .navbar {
    width: 55%;
}
.navbar-nav > li > a {
    padding: 22px 10px;
}
header .loginOption {
    width: 180px;
    padding-right: 0;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
.sticky .navbar {
    width: 73%;
}
.sticky .navbar .navbar-header {
    width: 34%;
}
.sticky .loginOption {
    padding-right: 0px;
}
.sticky .navbar-nav > li > a {
    padding: 6px 7px 22px 7px;
}
.sticky .loginOption a {
    font-size: 0.92em;
}
.bannerSection .carousel-inner {
    height: 480px;
}
.bannerSection .carousel .carousel-control.left, .bannerSection .carousel .carousel-control.right {
    top: 200px;
}
.testiSection .testiBlock .testi p {
    width: 70%;
}
}
@media only screen and (max-width: 920px) {
	.navbar-nav > li > a {
		padding: 12px 5px;
	}
	header .contactBox .info {
		float: left;
		margin-left: 0;
	}
	header .contactBox .icon{
		float: none;
	}
	header .contactBox .icon{
		position: static;
	}
	.titleDefaultP br{
		display:none;
	}
	header .contactBox{
		text-align:center;
	}
	header .loginOption a{
		padding: 10px 15px;
	}
	header .navbar {
		width: 50%;
	}
	.sticky .navbar-nav > li > a {
		padding: 6px 4px 0px 4px;
	}
	.sticky .navbar {
		width: 77%;
	}
}
@media only screen and (max-width: 768px) {
header {
    padding: 30px 20px 10px;
}
.sticky .navbar {
    width: 100%;
}
.sticky .navbar .navbar-header {
    width: 30%;
}
.sticky .navbar-nav > li > a {
    padding: 6px 8px 22px 0px;
	font-size: 0.825em;
}
.bannerSection .carousel-inner {
    height: 400px;
}
.bannerSection .carousel .carousel-control.left, .bannerSection .carousel .carousel-control.right {
    top: 170px;
}
.homeAboutSection .content {
    padding: 40px 30px 0;
}
.homeAboutSection .content p {
    padding: 0 10px;
}
.homeGallerySection .galleryListBlock {
    padding: 50px 0px 0;
}
.homeAboutSection .content p{
	padding:0;
}
.homeAboutSection .content{
	padding: 40px 0;
}
header .loginOption{
	margin: 10px 0 0 0;
}

}
@media only screen and (max-width: 767px) {
header .loginOption a {
    float: none;
}
header .contactBox{
	display:none;
}
header .navbar {
	width: 100%;
    float: left;
}
.sticky .navbar .navbar-header {
    width: 100%;
}
header .navbar .navbar-header .navbar-brand img {
    display: inline;
    float: left;
}
.navbar-toggle{
    margin-right: 0;		
}
header .logo{
	width: 55%;
}
header .loginOption, .sticky .loginOption{
	position: absolute;
    right: 65px;
    margin: 15px 0 0 0;
	width: auto;
}
.loginOption a,
.sticky .loginOption a {
    font-size: 12px;
}

.navbar-nav > li {
    float: none;
    display: block;
	text-align: left;
    border-bottom: 1px solid #202831;
}	
}
@media only screen and (max-width: 736px) {
header {
  
}
.navbar-nav > li.loginLink {
	display: block;
}

header .logo {
    float: left;
}
header .navbar .navbar-nav {
    margin: 0px;
}
.navbar-nav > li {
    float: none;
    display: block;
}
.navbar-nav > li > a {
    padding: 10px;
}
.sticky .navbar .navbar-header {
    width: 100%;
	float: none;
}
.carousel {
    
}
.bannerSection .carousel-inner {
    height: 370px;
}
.homeGallerySection .galleryListBlock .box {
    padding: 0 10px;
    width: 33%;
}
}
@media only screen and (max-width: 667px) {
.testiSection .testiBlock .testi p {
    width: 90%;
}
}
@media only screen and (max-width: 640px) {
	.bannerSection .carousel-inner {
		height: 320px;
	}
	header .loginOption, .sticky .loginOption{
		right: auto;
		margin: 0;
        margin-top: 10px !important;
		top: 57px;
	}
	header .logo{
		position: absolute;
		top: 7px;
		left: 0;
		right: auto;
		width: 100%;
		text-align: center;
	}
	header .navbar .navbar-header .navbar-brand img{
		float: none;
		height: 40px;
	}
	header {
		padding: 10px 20px;
	}
	header.sticky .logo{
		top:0;
	}
	header.sticky .navbar .navbar-header .navbar-brand img {
		height: 40px;
	}
	header .loginOption a {
		padding: 8px 15px;
	}
	.navbar-inverse .navbar-toggle{
		top: 17px;
		margin: 30px 0 10px 0;
	}
	header .navbar .navbar-nav,
	header.sticky .navbar .navbar-nav	{
		margin: 25px 0 0 0;
	}
	.homeAboutSection .col-sm-6{
		margin-bottom:10px;
	}
	
}
@media only screen and (max-width: 480px) {
header .logo {
}
.carousel {
    
}
h2.largeHeading{
	font-size: 35px;
}
.bannerSection .carousel-inner {
    height: 300px;
}
.bannerSection .carousel .carousel-control.left, .bannerSection .carousel .carousel-control.right {
    top: 145px;
}
.bannerSection .carousel .carousel-control.left {
    left: 10px;
}
.bannerSection .carousel .carousel-control.right {
    right: 10px;
}
.bannerSection .carousel .carousel-control .icon span {
    font-size: 2em;
}
.homeAboutSection {
    padding: 30px 0 100px 0;
}
.homeAboutSection .content {
    padding: 40px 0 0;
}
.testiSection .testiBlock .testi p {
    width: 100%;
	padding: 0;
}
.homeGallerySection .galleryListBlock {
    padding:50px 0 0;
}
.homeGallerySection .galleryListBlock .bar {
    margin-bottom: 0;
}
.homeGallerySection .galleryListBlock .box {
    padding:0 10px;
    width: 100%;
	margin-bottom: 30px;
}
	
}
@media only screen and (max-width: 414px) {
.bannerSection .carousel-inner {
    height: 250px;
}
.bannerSection .carousel .carousel-control.left, .bannerSection .carousel .carousel-control.right {
    top: 110px;
}
footer .copyrightBlock small,footer .copyrightBlock a {
    float: none;
    display: block;
	padding: 0 0 10px
}
h2.largeHeading {
    font-size: 3em;
}
.testiSection .testiBlock .navigation {
    width: 100%;
}
}
@media only screen and (max-width: 375px) {
.navbar-toggle {
	margin-top: 0;
}
.bannerSection .carousel-inner {
    height: 200px;
}
.bannerSection .carousel .carousel-control.left, .bannerSection .carousel .carousel-control.right {
    top: 80px;
}
.homeGallerySection .galleryListBlock {
    padding: 50px 30px 0;
}
}